body {
	background-color: black;
}

p {
	color: red;
	animation: do-something-cool 1s infinite;
}

a {
 	/* critical */
 	text-decoration: none;
}

ul {
	padding: 0;
}

@keyframes do-something-amazing {
	0% {
		padding: 0px;
		opacity: 1;
	}

	50% {
		padding: 20px;
		opacity: 0;
		/* critical */
	}

	100% {
		padding: 5px;
		opacity: .8;
	}
}
