@media screen and (min-width: 300px) {
	strong {
		color: #f00;
	}

	li {
		display: block;
		float: left;
		text-align: center;
		padding: 0;
		margin: 0;
		position: relative;
		border: 1px solid red;
	}
}

table {
	background-color: green;
	border-top: 1px solid blue;
}
