/* critical:start:header */
body {
	background-color: black;
}

p {
	color: red;
}
/* critical:end */

a {
 	text-decoration: none;
}

table {
	width: 100%;
	height: 200%;
}

* {
	font-family: Arial, "Arial Black", sans-serif;
}

span {
	/* critical:nav */
	display: inline-block;
	color: #333;
}
