p{
	color: #333;
}

@media screen and (min-width: 300px) {
	strong {
		color: #f00;
	}

	p {
		float: left;
	}

	li {
		margin: 0;
		position: relative;
		border: 1px solid red;
	}
}

table {
	background-color: green;
}
